[submodule "languagetool-html"]
	path = languagetool-html
	url = https://github.com/alex391/languagetool-html.git
[submodule "WioSleepTracker"]
	path = WioSleepTracker
	url = git@github.com:alex391/WioSleepTracker.git
