body {
    font-family: 'Roboto', sans-serif;
    margin-left: 64px;
    margin-right: 64px;
    max-width: 860px;
    background-color: #1f1f1f;
    color: #ddd;
}

a:link {
    color: skyblue;
}

a:visited {
    color: rgb(0, 212, 106);
}

a:hover {
    text-shadow: 0 0 5px;
    /* glow effect inspired by adventofcode.com */
}

a:active {
    text-shadow: 0 0 7px;
    /* just a bit more glow */
}

#print {
    height: 50px;
    cursor: pointer;
    margin-top: 16px;
    padding: 16px;
    border: solid 2px #808080;
    border-radius: 10px;
}

#print:hover {
    box-shadow: 0 0 5px;
}

#print:active {
    box-shadow: 0 0 7px;
}

a {
    text-decoration: none;
}


@media screen and (max-width: 580px) {
    body {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media print {

    /* Change the back to black text on a white background, hide the print button, and make all the links blue and underlined. */
    body {
        color: black;
        background-color: white;
        margin: 0;
    }

    h1, h2, ul {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    a {
        text-decoration: underline;
    }

    img {
        display: none;
    }

    a:link {
        color: #0000ee;
    }

    a:visited {
        color: #0000ee;
    }
}
