body {
    font-family: 'Roboto', sans-serif;
    margin-left: 64px;
    margin-right: 64px;
    background-color:  black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
}

#wrapper {
    /* need to hide the stars that fall off the edge so that the viewport doesn't get bigger */
    /* thanks to https://stackoverflow.com/a/14271049 */
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#black-background {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
}


nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: solid lightgrey;
    text-decoration: none;
}

#back {
    font-size: 2em;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
}

a:link {
    color: skyblue;
}

a:visited {
    color: rgb(0, 212, 106);
}

a:hover {
    text-shadow: 0 0 5px;
    box-shadow: 0 0 5px;
    /* glow effect inspired by adventofcode.com */
}

a:active {
    text-shadow: 0 0 7px;
    box-shadow: 0 0 7px;
    /* just a bit more glow */
}

.star {
    border-radius: 50%;
    position: absolute;
    font-size: 0;
}

.hitbox {
    padding: 10px;
    position: absolute;
    transform: translate(-10px, -10px); /* close enough! */
    cursor: pointer;
}

#hide-cursor {
    cursor: none;
}




@media print {

    /* Change the back to black text on a white background, and make all the links blue and underlined. */
    body {
        color: black;
        background-color: white;
        margin: 0;
    }

    a {
        text-decoration: underline;
    }

    a:link {
        color: #0000ee;
    }

    a:visited {
        color: #0000ee;
    }
    
    .star {
        visibility: hidden;
    }
    
    #back {
        visibility: hidden;
    }

    #black-background {
        background-color: rgba(255, 255, 255, 1);
    }

}